
&i2c0 {
	bme680@77 {
		compatible = "bosch,bme680";
		reg = <0x77>;
	};
};

/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
    };
};
/ {
	zephyr,user {
		io-channels = <&adc 0>;
	};
};

&adc {
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
    	compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
    };
};
&uart1 {
    pinctrl-0 = <&uart1_default>;
	status = "okay";
    pinctrl-names = "default";
	compatible = "raspberrypi,pico-uart";
	current-speed = <115200>;
};


&pinctrl {
	uart1_default: uart1_default {
		group1 {
			pinmux = <UART1_TX_P8>;
		};
		group2 {
			pinmux = <UART1_RX_P9>;
			input-enable;
		};
	};
};